hydra-core
omegaconf
PyYAML>=6.0,<7
h5py
numpy>=1.23,<1.24
numcodecs
opencv-python
pandas
scipy
zarr
tqdm
einops
wandb
pynput
click
threadpoolctl
matplotlib
dill
pydantic>=2.0,<3
openai>=1.0,<3
torch>=2.4,<2.5
torchvision>=0.19,<0.20
numba==0.56.4
rtree
shapely
open3d
diffusers
pytorch-lightning
lightning-bolts
tyro
